<ion-menu [content]="content" persistent="true" side="right" type="push">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item (click)="assist()">Help</button>
            <button ion-item (click)="link('home')" *ngIf="session.authenticated">Home</button>
            <button ion-item menuClose (click)="link('privacy')">Privacy Policy</button>
            <button ion-item menuClose (click)="link('about')">About Us</button>
            <button ion-item (click)="logout()" *ngIf="session.authenticated">Logout</button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
